@media screen and (max-width: 768px) {
  #moedas{
    margin: 0px;
    width: 0px;
    height: 0px;
  }
  body{
    overflow: hidden;
  }
}

body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/Background.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 97vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: -100px;
    right: 10px;
  }
  
  #moedas{
    display: block;
    margin: auto;
    height: 30%;
  }
  input {
    display: block;
    margin: auto;
    width: 250px;
    padding: 5px;

    text-align: center;
  }
  button {
    background-color: white;
    color: black;
    width: 150px;
    padding: 5px;
    margin: 10px 5px;
  }
  button:hover {
    background-color: #dbdbdb;
    cursor: pointer;
  }
  h2 {
    color: white;
  }
  
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  #saida {
    width: 50%;
    margin: auto;
    background-color: white;
    font-family: Arial;
    font-size: 1.3em;
  }
  