body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/Background.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 98vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: -100px;
    right: 10px;
  }
  
  body > img {
    margin: 0 10px;
  }
  
  img {
    height: 30%;
  }
  input {
    display: block;
    margin: auto;
    padding: 5px;
  }
  button {
    background-color: white;
    color: black;
    padding: 5px;
  }
  button:hover {
    background-color: #dbdbdb;
    cursor: pointer;
  }
  h2 {
    color: white;
  }
  #saida {
    width: 50%;
    margin: auto;
    background-color: white;
    font-family: Arial;
    font-size: 1.3em;
  }
  